.b-1 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/about-fon.jpg');
}
.b-1 .b-block {
	padding-top: 200px;
	padding-bottom: 200px;
}
.b-1 h1 {
	display: block;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-1 h1 span {
	color: #96cc29;
}
.b-1 .nav {
	position: absolute;
	top: 30px;
	text-align: left;
	max-width: 100%;
}
.b-1 .nav span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	max-width: 100%;
	position: relative;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px;
	padding-right: 12px;
}
.b-1 .nav span a {
	color: #ffffff;
}
.b-1 .nav span a:hover {
	text-decoration: underline;
}
.b-1 .nav span:last-child {
	padding-right: 0;
	margin-right: 0;
}
.b-1 .nav span::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: calc(50% - 4px);
	background-image: url('../i/nav-arr.png');
}
.b-1 .nav span:last-child:before {
	display: none;
}

.b-2 .b-block {
	padding-top: 60px;
	padding-bottom: 10px;
}
.b-2 h2 {
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: rgb(1, 46, 59);
	line-height: 1.2;
	margin-bottom: 60px;
}
.b-2 h2 span {
	color: #96cc29;
}
.b-2-1-slider {
	position: relative;
	margin-bottom: 30px;
	padding: 0 50px 40px;
}
.b-2-1-slider .slick-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.b-2-1-slider .slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}
.b-2-1-slider .slick-dots li button {
	display: block;
	border: 0;
	border-radius: 50%;
	font-size: 0;
	background-color: rgb(1, 46, 59);
	width: 10px;
	height: 10px;
}
.b-2-1-slider .slick-dots li button:hover {
	cursor: pointer;
}
.b-2-1-slider .slick-dots li.slick-active button {
	background-color: rgb(150, 204, 41);
}
.b-2-1-slider .slick-arrow {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: calc(50% - 55px);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 10;
	background-color: transparent;
	border: 0;
	font-size: 0;
}
.b-2-1-slider .slick-arrow:hover {
	cursor: pointer;
}
.b-2-1-slider .slick-next {
	right: 0;
	background-image: url('../i/arr-next.svg');
}
.b-2-1-slider .slick-prev {
	left: 0;
	background-image: url('../i/arr-prev.svg');
}
.b-2-1-slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-2-slider {
	margin-bottom: 70px;
}
.b-2-slide {
	margin: 0 15px;
	background-color: rgb(220, 220, 220);
}
.b-2-slide img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2-slide img:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}
.b-2-list li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 15px;
	width: calc(50% - 4px);
	margin-bottom: 50px;
}
.b-2-item {
	display: block;
	position: relative;
	background-color: rgb(245, 249, 250);
	font-weight: 700;
	font-size: 24px;
	color: rgb(1, 46, 59);
	line-height: 1.2;
	box-sizing: border-box;
	width: 100%;
}
.b-2-item::before {
	content: '';
	display: block;
	width: 160px;
	height: 100%;
	background-color: rgb(150, 204, 41);
	position: absolute;
	top: 0;
}
.b-2-item-left {
	padding: 52px 20px 52px 190px;
	text-align: left;
	border-radius: 0 100px 100px 0;
}
.b-2-item-left::before {
	border-radius: 0 100px 100px 0;
	left: 0;
}
.b-2-item-left img {
	display: block;
	max-width: 140px;
	position: absolute;
	left: 80px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-2-item-right {
	padding: 52px 190px 52px 20px;
	text-align: right;
	border-radius: 100px 0 0 100px;
}
.b-2-item-right::before {
	border-radius: 100px 0 0 100px;
	right: 0;
}
.b-2-item-right img {
	display: block;
	max-width: 140px;
	position: absolute;
	right: 80px;
	top: 50%;
	-webkit-transform: translate(50%,-50%);
	-moz-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
}

.b-3 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/i-b-3-fon.jpg');
}
.b-3 .b-block {
	padding-top: 50px;
}
.b-3-wrap {
	padding: 60px 310px 85px 30px;
	background-color: #ffffff;
	position: relative;
}
.b-3 h2 {
	display: block;
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	color: rgb(1, 46, 59);
	margin-bottom: 50px;
}
.b-3 h2 span {
	color: #96cc29;
}
.b-3 p {
	display: block;
	text-align: left;
	font-weight: 500;
	color: rgb(1, 46, 59);
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.b-3 ul li {
	display: block;
	position: relative;
	box-sizing: border-box;
	padding-left: 20px;
	text-align: left;
	font-weight: 500;
	color: rgb(1, 46, 59);
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.b-3 ul li::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgb(1, 46, 59);
	position: absolute;
	left: 0;
	top: calc(50% - 4px);
}
.b-3 .info {
	display: block;
	width: 255px;
	box-sizing: border-box;
	padding: 20px 13px;
	background-size: cover;
	background-image: url('../i/cat-info-fon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
	position: absolute;
	top: 60px;
	right: 30px;
}
.b-3 .info .title {
	display: block;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 1.2;
}
.b-3 .info .phone {
	margin-bottom: 20px;
}
.b-3 .info .phone a {
	display: inline-block;
	color: #ffffff;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
}
.b-3 .info img {
	display: block;
	max-width: 100%;
	margin: 0 auto 20px;
}
.b-3 .info-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
}
.b-3 .info-text span {
	text-transform: uppercase;
	font-size: 24px;
	color: #96cc29;
}





@media screen and (max-width: 1280px){
	.b-2-list li {
		display: block;
		width: 100%;
	}
}
@media screen and (max-width: 767px){
	.b-3-wrap {
		padding: 60px 30px 55px;
	}
	.b-3 .info {
		position: static;
		margin: 0 auto 30px;
	}
}