.b-1 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/about-fon.jpg');
}
.b-1 .b-block {
	padding-top: 80px;
	padding-bottom: 110px;
}
.b-1 h1 {
	display: block;
	text-align: left;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-1 h1 span {
	color: #96cc29;
}
.b-1 .nav {
	text-align: left;
}
.b-1 .nav span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	max-width: 100%;
	position: relative;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px;
	padding-right: 12px;
}
.b-1 .nav span a {
	color: #ffffff;
}
.b-1 .nav span a:hover {
	text-decoration: underline;
}
.b-1 .nav span:last-child {
	padding-right: 0;
	margin-right: 0;
}
.b-1 .nav span::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: calc(50% - 4px);
	background-image: url('../i/nav-arr.png');
}
.b-1 .nav span:last-child:before {
	display: none;
}

.b-2 .b-block {
	padding-top: 60px;
	padding-bottom: 90px;
}
.b-2 .boat {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 4px);
	padding: 0 15px;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.b-2 .boat-wrap {
	box-sizing: border-box;
	padding: 30px;
	width: 100%;
	background-image: url('../i/boat-fon-2.jpg');
	background-size: cover;
	background-position: center;
}
.b-2 .boat .name {
	display: block;
	text-align: left;
	font-weight: 700;
	color: #ffffff;
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 80px;
}
.b-2 .boat ul {
	display: inline-block;
	vertical-align: bottom;
	width: calc(50% - 4px);
	box-sizing: border-box;
	padding-right: 15px;
}
.b-2 .boat ul li {
	display: block;
	text-align: left;
	margin-bottom: 10px;
	font-size: 14px;
	color: #ffffff;
}
.b-2 .boat ul li:last-child {
	margin-bottom: 0;
}
.b-2 .boat-btn {
	display: inline-block;
	vertical-align: bottom;
	width: calc(50% - 19px);
	margin-left: 15px;
	padding: 15px 10px;
	box-sizing: border-box;
	border: 1px solid rgb(150, 204, 41);
	border-radius: 100px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .boat-btn:hover {
	background-color: rgb(150, 204, 41);
}
.b-2 .more-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	max-width: 190px;
	border: 1px solid rgb(1, 46, 59);
	color: rgb(1, 46, 59);
	padding: 15px;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .more-btn:hover {
	background-color: rgb(1, 46, 59);
	color: #ffffff;
}









@media screen and (max-width: 1280px){
	.b-2 .boat .name {
		margin-bottom: 50px;
	}
	.b-2 .boat ul {
		display: block;
		padding: 0;
		margin-bottom: 10px;
	}
	.b-2 .boat-btn {
		display: block;
		margin-left: auto;
		width: 100%;
	}
}
@media screen and (max-width: 767px){
	.b-2 .boat {
		display: block;
		width: 100%;
	}
}