.b-1 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/order-fon-2.jpg');
}
.b-1 .b-block {
	padding-top: 80px;
	padding-bottom: 110px;
}
.b-1 h1 {
	display: block;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 40px;
}
.b-1 h1 span {
	color: #96cc29;
}
.b-1-btn {
	display: inline-block;
	margin: 0 auto 25px;
	max-width: 100%;
	padding: 15px 30px;
	color: #ffffff;
	text-transform: uppercase;
	box-sizing: border-box;
	background-color: #96cc29;
	border-radius: 100px;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-color: #83b323;
}

.b-2 .b-block {
	padding-top: 30px;
	padding-bottom: 50px;
}
.b-2-list {
	width: 100%;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.b-2-list li {
	margin-bottom: 30px;
}
.b-2-list p {
	display: block;
	position: relative;
	padding-left: 65px;
	text-align: left;
	color: rgb(1, 46, 59);
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	box-sizing: border-box;
}
.b-2-list p span {
	color: #96cc29;
}
.b-2-list p img {
	display: block;
	max-width: 45px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-2-filters {
	display: inline-block;
	vertical-align: top;
	width: 255px;
	margin-right: 25px;
}
.b-2 .filter-name {
	text-align: left;
	margin-bottom: 20px;
	font-size: 24px;
	color: rgb(1, 46, 59);
	font-weight: 700;
	line-height: 1.2;
}
.b-2 .filter-name span {
	color: #96cc29;
}
.b-2 .filter-name.small {
	margin-bottom: 10px;
	font-size: 16px;
}
.b-2 .filter, .b-2 .filter-drop {
	display: block;
	margin-bottom: 50px;
}
.b-2 .filter li {
	display: block;
	text-align: left;
	padding: 15px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(165, 165, 165);
	font-weight: 700;
	font-size: 14px;
	color: rgb(1, 46, 59);
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-bottom: 1px solid rgb(165, 165, 165);
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter li:hover {
	cursor: pointer;
}
.b-2 .filter li span {
	text-transform: uppercase;
}
.b-2 .filter li.active {
	color: #ffffff;
	background-color: rgb(1, 46, 59);
	border-color: rgb(1, 46, 59);
}
.b-2 .filter-drop li span {
	display: block;
	padding: 15px 40px 15px 20px;
	position: relative;
	color: rgb(1, 46, 59);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li span:hover {
	cursor: pointer;
}
.b-2 .filter-drop li.active span {
	background-color: rgb(1, 46, 59);
	color: #ffffff;
}
.b-2 .filter-drop li span b {
	display: block;
	width: 9px;
	height: 15px;
	position: absolute;
	right: 30px;
	top: calc(50% - 5px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li span b::after {
	content: '';
	display: block;
	width: 10px;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgb(1, 46, 59);
	-webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li span b::before {
	content: '';
	display: block;
	width: 10px;
	height: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(1, 46, 59);
	-webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li.active span b {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.b-2 .filter-drop li.active span b::after, .b-2 .filter-drop li.active span b::before {
	background-color: #ffffff;
}
.b-2 .filter-drop li .drop-wrap {
	display: block;
	overflow: hidden;
	padding: 0 20px;
	max-height: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter-drop li.active .drop-wrap {
	padding: 10px 20px;
	max-height: 400px;
}
.b-2 .filter-drop li .drop-wrap p {
	display: block;
	margin-bottom: 10px;
}
.b-2 .filter-drop li .drop-wrap p:last-child {
	margin-bottom: 0;
}
.b-2 .filter-drop li .drop-wrap p a {
	display: inline-block;
	max-width: 100%;
	box-sizing: border-box;
	padding: 1px 0 1px 30px;
	position: relative;
	font-size: 14px;
	color: rgb(1, 46, 59);
	text-transform: uppercase;
	font-weight: 500;
}
.b-2 .filter-drop li .drop-wrap p a img {
	display: block;
	position: absolute;
	max-width: 20px;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-2 .catalog {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 285px);
	padding: 0 0 40px;
}
.b-2 .form-block {
	display: block;
	max-width: 730px;
	width: 100%;
	margin: 0 0 0 auto;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 15px;
	box-sizing: border-box;
	padding: 30px;
}
.b-2 .form-block .title {
	font-weight: 700;
	font-size: 36px;
	color: rgb(1, 46, 59);
	line-height: 1.3;
	margin-bottom: 30px;
}
.b-2 .form-block .title span {
	color: #96cc29;
}
.b-2 form {
	display: block;
	max-width: 540px;
	margin: 0 auto;
}
.b-2 form textarea {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px;
	resize: none;
	width: 100%;
	height: 260px;
	background-color: rgb(230, 243, 250);
	font-weight: 500;
	font-size: 14px;
	color: rgb(1, 46, 59);
	line-height: 1.2;
	border: 1px solid rgb(230, 243, 250);
	margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 form textarea::-webkit-input-placeholder, .b-2 form input::-webkit-input-placeholder {
	color: rgb(1, 46, 59);
}
.b-2 form textarea:-moz-placeholder, .b-2 form input:-moz-placeholder {
	color: rgb(1, 46, 59);
}
.b-2 form textarea:focus::-webkit-input-placeholder, .b-2 form input:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-2 form textarea:focus:-moz-placeholder, .b-2 form input:focus:-moz-placeholder {
	color: transparent;
}
.b-2 form textarea:focus, .b-2 form input:focus {
	border-color: rgb(220, 220, 220);
	background-color: #ffffff;
}
.b-2 form input {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px;
	width: 100%;
	background-color: rgb(230, 243, 250);
	font-weight: 500;
	font-size: 14px;
	color: rgb(1, 46, 59);
	line-height: 1.2;
	border: 1px solid rgb(230, 243, 250);
	margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 form .select-wrap {
	position: relative;
	margin-bottom: 30px;
}
.b-2 form .select-area {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px 40px 20px 20px;
	width: 100%;
	background-color: rgb(230, 243, 250);
	font-weight: 500;
	font-size: 14px;
	color: rgb(1, 46, 59);
	line-height: 1.2;
	border: 1px solid rgb(230, 243, 250);
	position: relative;
}
.b-2 form .select-area.active {
	border-color: rgb(220, 220, 220);
	background-color: #ffffff;
	border-radius: 15px 15px 0 0;
}
.b-2 form .select-area::before {
	content: '';
	display: block;
	width: 10px;
	height: 6px;
	position: absolute;
	top: calc(50% - 3px);
	right: 20px;
	background-image: url('../i/sel-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 form .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-2 form .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.b-2 form .select-area:hover {
	cursor: pointer;
}
.b-2 form .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid rgb(220, 220, 220);
	border-top: 0;
	border-radius: 0 0 15px 15px;
	padding: 20px;
	box-sizing: border-box;
	z-index: 10;
}
.b-2 form .select-drop.active {
	display: block;
}
.b-2 form .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 14px;
	color: rgb(1, 46, 59);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 form .select-drop a:hover {
	color: #96cc29;
}
.b-2 form .select-drop a:last-child {
	margin-bottom: 0;
}
.b-2 form select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.b-2 form button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: #96cc29;
	border: 0;
	font-size: 18px;
	padding: 15px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 form button:hover {
	background-color: #83b323;
}
.b-2 .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: rgb(102, 102, 102);
	line-height: 1;
	position: relative;
	text-align: left;
	padding-left: 35px;
	font-weight: 300;
}
.b-2 .button-text a {
	color: rgb(1, 46, 59);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .button-text a:hover {
	color: #96cc29;
}
.b-2 .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid rgb(142, 142, 142);
	border-radius: 4px;
	left: 0;
	top: calc(50% - 9px);
	box-sizing: content-box;
}
.b-2 .button-text .radio-btn.active {
	border-color: #96cc29;
	background-color: #96cc29;
}
.b-2 .button-text .radio-btn.error {
	border-color: #ff0000;
}
.b-2 .button-text .radio-btn:hover {
	cursor: pointer;
}
.b-2 .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 7px;
	height: 2px;
	position: absolute;
	left: 1px;
	top: 8px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-2 .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 5px;
	top: 7px;
	background-color: #ffffff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}








@media screen and (max-width: 1280px){
}
@media screen and (max-width: 767px){
	.b-2-list {
		display: block;
	}
	.b-2-list p {
		max-width: 415px;
		width: 100%;
		margin: 0 auto;
	}
	.b-2-filters {
		display: none;
		margin: 0 auto;
	}
	.b-2 .info, .b-2-logo {
		display: none;
	}
	.b-2 .catalog {
		display: block;
		width: 100%;
	}
	.b-2 .form-block {
		margin: 0 auto;
	}
}