.b-1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../i/thanks-fon.jpg');
}
.b-1 .b-block {
	padding-top: 270px;
	padding-bottom: 230px;
	min-height: calc(100vh - 154px);
}
.b-1 h2 {
	display: block;
	font-weight: 700;
	font-size: 36px;
	color: #ffffff;
	line-height: 1.3;
	margin-bottom: 100px;
}
.b-1 h2 span {
	color: #96cc29;
}
.b-1 .buttons li {
	display: inline-block;
	vertical-align: top;
	width: calc(33% - 4px);
	box-sizing: border-box;
	padding: 0 15px;
}
.b-1 .buttons li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: rgb(1, 46, 59);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgb(150, 204, 41);
	border-radius: 100px;
	padding: 15px 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .buttons li a:hover {
	color: #ffffff;
}






@media screen and (max-width: 767px){
	.b-1 .b-block {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.b-1 .buttons li {
		display: block;
		width: 100%;
		margin: 0 auto 10px;
	}
}