.b-1 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/about-fon.jpg');
}
.b-1 .b-block {
	padding-top: 200px;
	padding-bottom: 200px;
}
.b-1 h1 {
	display: block;
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-1 h1 span {
	color: #96cc29;
}
.b-1 .nav {
	position: absolute;
	top: 30px;
	text-align: left;
	max-width: 100%;
}
.b-1 .nav span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	max-width: 100%;
	position: relative;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px;
	padding-right: 12px;
}
.b-1 .nav span a {
	color: #ffffff;
}
.b-1 .nav span a:hover {
	text-decoration: underline;
}
.b-1 .nav span:last-child {
	padding-right: 0;
	margin-right: 0;
}
.b-1 .nav span::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: calc(50% - 4px);
	background-image: url('../i/nav-arr.png');
}
.b-1 .nav span:last-child:before {
	display: none;
}

.b-2 .b-block {
	padding-top: 90px;
	padding-bottom: 90px;
}
.b-2-list li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 10px;
	width: calc(50% - 4px);
	margin-bottom: 50px;
}
.b-2-list iframe {
	display: block;
	width: 100%;
	height: 315px;
	margin-bottom: 30px;
}
.b-2-list span {
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	color: rgb(1, 46, 59);
}
.b-2 .more-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	max-width: 190px;
	border: 1px solid rgb(1, 46, 59);
	color: rgb(1, 46, 59);
	padding: 15px;
	font-weight: 500;
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .more-btn:hover {
	background-color: rgb(1, 46, 59);
	color: #ffffff;
}




@media screen and (max-width: 1280px){
}
@media screen and (max-width: 767px){
	.b-2-list li {
		display: block;
		width: 100%;
	}
}